# Nuxt dev/build outputs
.output
dist
.dist
.data
.nuxt
.nitro
.cache

# Node dependencies
node_modules
.pnpm-store

# Logs
logs
*.log

# Misc
.DS_Store
.eslintcache
.fleet
.idea
.vscode

# Local env files
.env
.env.*
!.env.example

# Netlify local metadata
.netlify
